@functions {
    public Microsoft.AspNetCore.Html.IHtmlContent NavItem(string Text, string Link)
    {
        string Class = "nav-selected";

        if (Link == "/" && Context.Request.Path != "/")
            Class = "nav-unselected";
        else if (!Context.Request.Path.StartsWithSegments(Link))
            Class = "nav-unselected";

        return Html.Raw($"<a class=\"{Class}\" href=\"{Link}\">{Text}</a>");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - catsandwich.ca</title>
    <link rel="icon" type="image/png" href="~/media/catsandwichtransparent.png" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/nav.css" />
</head>
<body>
    <header>
        <nav runat="server">
            <div class="nav-bg">
                <img src="~/media/catsandwichtransparent.png" />
                @NavItem("Home", "/")
                @NavItem("Labs", "/Labs")
            </div>
            <div>
                @RenderSection("nav", false)
            </div>
        </nav>
        <hr />
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>

        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>